<link rel="import" href="../polymer/polymer.html">
<dom-module id="css-pie-slice-extension">
    <style>
    :host {
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--css-pie-slice-extension-size);
        height: var(--css-pie-slice-extension-size);
        -webkit-border-radius: var(--css-pie-slice-extension-size);
        -moz-border-radius: var(--css-pie-slice-extension-size);
        border-radius: var(--css-pie-slice-extension-size);
        clip: var(--css-pie-slice-extension-clip);
        transform: var(--css-pie-slice-extension-transform);
    }
    :host > div {
        background-color: var(--css-pie-slice-extension-color);
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--css-pie-slice-extension-size);
        height: var(--css-pie-slice-extension-size);
        -webkit-border-radius: var(--css-pie-slice-extension-size);
        -moz-border-radius: var(--css-pie-slice-extension-size);
        border-radius: var(--css-pie-slice-extension-size);
        clip: var(--css-pie-slice-extension-inner-clip);
        transform: var(--css-pie-slice-extension-inner-transform);
    }
    </style>
    <template>
        <div>
        </div>
    </template>
    <script>
    CSSPieSliceExtension = Polymer({
        is: 'css-pie-slice-extension',
        ready: function() {
        },
        properties: {
            size: {
                type: Number,
                value: 0
            },
            color: {
                type: String
            },
            pieSize: {
                type: Number
            },
            pieSizeUnit: {
                type: String
            },
            index: {
                type: Number
            },
            degree: {
                type: Number,
                notify: true
            },
            beforeDegree: {
                type: Number,
                notify: true
            }
        },
        factoryImpl: function(index,size,color,pieSize,pieSizeUnit,degree,beforeDegree) {
            var host = this;
            if(index != null)
                host.index = index;
            if(size != null)
                host.size = size;
            if(color != null)
                host.color = color;
            if(pieSize != null)
                host.pieSize = pieSize;
            if(pieSizeUnit != null)
                host.pieSizeUnit = pieSizeUnit;
            if(degree != null)
                host.degree = degree;
            if(beforeDegree != null)
                host.beforeDegree = beforeDegree;
        },
        attached: function() {
            var host = this;
            host._updateSlice();
        },
        attributeChanged: function(name, type) {
            this.async(function() {
            });
        },
        _updateSlice: function() {
            var host = this;
            host.customStyle['--css-pie-slice-extension-color'] = host.color;
            host.customStyle['--css-pie-slice-extension-size'] = host.pieSize + host.pieSizeUnit;
            host.customStyle['--css-pie-slice-extension-clip'] = "rect(0"+host.pieSizeUnit+","+host.pieSize+ host.pieSizeUnit+","+host.pieSize+ host.pieSizeUnit+","+((host.pieSize)/2)+ host.pieSizeUnit+")";
            if(host.index!=0)
                host.beforeDegree = host.beforeDegree-1;
            host.customStyle['--css-pie-slice-extension-transform'] = "rotate("+(180+host.beforeDegree)+"deg)";
            if(host.index!=0)
                host.beforeDegree = host.beforeDegree+1;
            host.customStyle['--css-pie-slice-extension-inner-clip'] = "rect(0"+ host.pieSizeUnit+", "+((host.pieSize)/2)+ host.pieSizeUnit+", "+host.pieSize+ host.pieSizeUnit+", 0"+ host.pieSizeUnit+")";
            host.degree = parseFloat(((host.size-50)*180)/50);
            if(host.index!=0)
                host.degree=host.degree+1;
            host.customStyle['--css-pie-slice-extension-inner-transform'] = "rotate("+host.degree+"deg)";
            if(host.index!=0)
                host.degree = host.degree-1;
            host.beforeDegree += (180+host.degree);
            host.updateStyles();
        }
    });
    </script>
</dom-module>