<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="css-pie-slice-extension.html"></head>
<dom-module id="css-pie-slice">
    <style>
    :host {
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--css-pie-slice-size);
        height: var(--css-pie-slice-size);
        -webkit-border-radius: var(--css-pie-slice-size);
        -moz-border-radius: var(--css-pie-slice-size);
        border-radius: var(--css-pie-slice-size);
        clip: var(--css-pie-slice-clip);
        transform: var(--css-pie-slice-transform);
    }
    :host > div {
        background-color: var(--css-pie-slice-color);
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--css-pie-slice-size);
        height: var(--css-pie-slice-size);
        -webkit-border-radius: var(--css-pie-slice-size);
        -moz-border-radius: var(--css-pie-slice-size);
        border-radius: var(--css-pie-slice-size);
        clip: var(--css-pie-slice-inner-clip);
        transform: var(--css-pie-slice-inner-transform);
    }
    </style>
    <template>
        <div>
        </div>
    </template>
    <script>
    CSSPieSlice = Polymer({
        is: 'css-pie-slice',
        ready: function() {
        },
        properties: {
            size: {
                type: Number,
                value: 0,
                notify: true
            },
            color: {
                type: String
            },
            pieSize: {
                type: Number,
                value: 200
            },
            pieSizeUnit: {
                type: String,
                value: 'px'
            },
            index: {
                type: Number
            },
            degree: {
                type: Number,
                notify: true
            },
            beforeDegree: {
                type: Number,
                notify: true
            }
        },
        factoryImpl: function(index,size,color,pieSize,pieSizeUnit,degree,beforeDegree) {
            var host = this;
            if(index != null)
                host.index = index;
            if(size != null)
                host.size = size;
            if(color != null)
                host.color = color;
            if(pieSize != null)
                host.pieSize = pieSize;
            if(pieSizeUnit != null)
                host.pieSizeUnit = pieSizeUnit;
            if(degree != null)
                host.degree = degree;
            if(beforeDegree != null)
                host.beforeDegree = beforeDegree;
        },
        attached: function() {
            var host = this;
            host._updateSlice();
        },
        attributeChanged: function(name, type) {
            this.async(function() {
            });
        },
        _updateSlice: function() {
            var host = this;
            host.customStyle['--css-pie-slice-color'] = host.color;
            host.customStyle['--css-pie-slice-size'] = host.pieSize + host.pieSizeUnit;
            host.customStyle['--css-pie-slice-clip'] = "rect(0" + host.pieSizeUnit+","+host.pieSize+host.pieSizeUnit+","+host.pieSize+host.pieSizeUnit+","+((host.pieSize)/2)+host.pieSizeUnit+")"
            host.customStyle['--css-pie-slice-inner-clip'] = "rect(0" + host.pieSizeUnit+", "+((host.pieSize)/2)+host.pieSizeUnit+", "+host.pieSize+host.pieSizeUnit+", 0"+host.pieSizeUnit+")"
            if(host.size <= 50) {
                host.degree = parseFloat((180*host.size)/50);
                host.customStyle['--css-pie-slice-inner-transform'] = "rotate("+host.degree+"deg)";
                //If it's not first slice, then ...
                if(host.index!=0){
                    host.customStyle['--css-pie-slice-transform'] = "rotate("+host.beforeDegree+"deg)";
                }
                host.beforeDegree += host.degree;
            }
            else {
                host.customStyle['--css-pie-slice-clip'] ="rect(0" + host.pieSizeUnit+","+(host.pieSize)+host.pieSizeUnit+","+(host.pieSize)+host.pieSizeUnit+","+((host.pieSize-100)/2)+host.pieSizeUnit+")";
                host.customStyle['--css-pie-slice-transform'] = "rotate("+host.beforeDegree+"deg)";
                host.customStyle['--css-pie-slice-inner-transform'] = "rotate(180deg)";
                var host = host;
                var sliceExtension = new CSSPieSliceExtension(host.index,host.size,host.color,host.pieSize,host.pieSizeUnit,host.degree,host.beforeDegree);
                sliceExtension.addEventListener("degree-changed", function(e){
                    host.degree = this.degree;
                });
                sliceExtension.addEventListener("before-degree-changed", function(e){
                    host.beforeDegree = this.beforeDegree;
                });
                Polymer.dom(host).parentNode.appendChild(sliceExtension);
            }
            host.updateStyles();
        }
    });
    </script>
</dom-module>